# Python compiled files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.env

# Main Driver for Testing
test.py

# UNet weights
unet_best.pth

archive/
archive.zip

# evaluation graphs
evaluation_outputs/

# training plots
plots/

# Data
spacenet_data/

# Plots
verification_plots/